	<section class="content_page p20304">
				<!-- end .section -->

				<div class="section full addPadd">
					<div class="sectionCont small">
						<!-- **if an image, bgcolor, video or map is added for this section** -->
						<!-- *if image and text* -->

						<div class="imgCont" style="background-color: #ffffff">
							<img src="/images/placeholder_img_land.png" />
							<!-- with image all text on image -->
							<div id="head_10" class="textCont">
								<h2 style="color: #ff8000">
									OUR WEDDING
									<span
										style="
											font-size: 48px;
											font-weight: 200;
											color: #ff8000;
										"
										>|</span
									>
									LUKE&nbsp;&&nbsp;DANIEL
								</h2>
								<div class="subsection">
									<h3
										style="color: #000029; margin-top: 20px"
									>
										Saturday 30th October
									</h3>
									<h3 style="color: #000029">2021</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- end sectionCont -->
				</div>
				<!-- end .section -->
			</section>